<!DOCTYPE html>
<html>
<head>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
	<title>Home</title>
</head>
<body>
<div class="container" id="messages"></div>
<div class="container">
	<div class="jumbotron">
		<div class="col-sm">
		  	<div class="form-group">
		    	<input type="email" class="form-control" id="customMessage" aria-describedby="emailHelp" placeholder="Message">
		  	</div>
	  	</div>
	  	<div class="col-sm">
	  		<button type="submit" class="btn btn-primary" id="send">Send</button>
	  	</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
    const socket = io();

    socket.on('message', function(msg){
    	$('#messages').append('<div class="alert alert-success" id="alert-success">'+msg+'</div>');
    		$("#alert-success").fadeTo(10000, 500).slideUp(500, function() {
	    		$("#alert-success").slideUp(500);
	    		$(this).remove();
	    	});
    });

    $('#send').on('click',function(){    	
    	socket.send($('#customMessage').val());
    	$('#customMessage').val('');
    });
</script>
</body>
</html>